/* montserrat-100 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/montserrat-v12-latin-100.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url('fonts/montserrat-v12-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-100.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-100.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-200 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/montserrat-v12-latin-200.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('fonts/montserrat-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-200.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-200.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-300 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v12-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'), url('fonts/montserrat-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-300.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-regular - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-500 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/montserrat-v12-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('fonts/montserrat-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-500.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-500.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-600 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v12-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('fonts/montserrat-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-600.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-600.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-800 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v12-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-800.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-900 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/montserrat-v12-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'), url('fonts/montserrat-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/montserrat-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/montserrat-v12-latin-900.woff') format('woff'), /* Modern Browsers */
  url('fonts/montserrat-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/montserrat-v12-latin-900.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: "Socialico";
  src: url("fonts/Socialico.eot?") format("eot"), url("fonts/Socialico.woff") format("woff"), url("fonts/Socialico.ttf") format("truetype"), url("fonts/Socialico.svg#Socialico") format("svg");
  font-weight: normal;
  font-style: normal;
}

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
}

html.suspended {
  background: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-width: 1300px;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat"
}

a {
  color: inherit;
  text-decoration: none
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0 auto;
}

.row {
  max-width: 1290px;
  margin: 0 auto
}

/*floats*/

.fl {
  float: left;
}

.fr {
  float: right;
}

/*typography*/

.text-primary {
  color: #B11414;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left;
}

.socialico {
  font-family: "Socialico"
}

/*button*/

.btn {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 15px 23.7px;
  background: #202020;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #ddd;
  border-color: #ddd;
  color: #ddd;
  color: #fff;
}

/*clearings*/

.clear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

.clearfix {
  display: block;
}

/*contact form messages*/

form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important;
}

form .loading {
  display: none;
}

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

form [type="submit"] {
  margin: 20px auto
}

/*contact form*/

.ctc-form {
  margin: 0 auto;
  text-align: center;
}

.ctc-form input[type="text"],
.ctc-form textarea {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  height: 45px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0 auto 8px
}

.ctc-form textarea {
  height: 120px;
  padding-top: 10px;
}

.ctc-form button {
  display: block;
}

.ctc-form .recap {
  display: inline-block;
}

.ctc-form .g-recaptcha div {
  margin: 0 auto 10px;
}

.ctc-form .ctc-hide {
  display: none;
}

/*gallery*/

#content .gallery-container {
  text-align: center;
}

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#content .gallery li {
  width: 15.6%;
  max-height: 150px;
  margin: 0 1% 20px 0;
  overflow: hidden;
}

#content .thumbnail {
  /* background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: 1.42857;
  margin-bottom: 20px;
  padding: 4px;
  transition: border 0.2s ease-in-out 0s; */
}

#content .thumbnail img {
  width: 100%;
  display: block;
  transition: all 1s ease;
}

#content .thumbnail img:hover {
  transform: scale(1.1);
}

#content .page_navigation {
  display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content .first_link,
#content .last_link,
#content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

#content .page_navigation>a:hover,
.page_navigation>a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  color: #000;
}

/*header*/

#header {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 9999;
  padding: 10px 0;
}

#header .inb {
  display: inline-block;
  vertical-align: middle;
}

.hdLeft {
  width: 20%;
  text-align: center;
}

.hdRight {
  width: 79%;
  text-align: right;
}

.hdRightTop {
  margin-bottom: 10px;
}

.hdRightTop .info {
  display: inline-block;
  vertical-align: middle;
}
.hdRightTop .info:nth-child(1) {
  margin-right: 30px;
}
.hdRightTop .info:nth-child(1) p{
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 10px;
}
.hdRightTop .info:nth-child(2) {
  margin-right: 30px;
}

.hdRightTop .info img {
  margin-right: 10px;
}

.hdRightTop .info p {
  font-size: 14px;
  font-weight: bold;
}

.hdRightTop .info p.phone {
  font-size: 18px;
  font-weight: bold;
}

.hdRightTop .info .inb {
  display: inline-block;
  vertical-align: middle
}

.hdRightBot nav a#pull {
  display: none
}

.hdRightBot nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.hdRightBot nav ul li {
  position: relative;
}

.hdRightBot nav ul li a {
  font-size: 14px;
  display: block;
  padding: 15px 0;
}

.hdRightBot nav ul li.active-menu:after,
.hdRightBot nav ul li:hover:after {
  content: "";
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  width: 8px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
}

/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  margin-top: -140px;
  padding: 453px 0 96px;
}

.container .inb {
  display: inline-block;
  vertical-align: middle;
}

.container .left {
  text-align: right;
  width: 39%;
}

.container .right {
  text-align: right;
  width: 60%;
}

.container .right .box {
  max-width: 600px;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px 10px;
}

.container .right .box p:first-child {
  font-weight: 800;
  font-size: 55px;
  color: #fff;
  letter-spacing: 15px
}

.container .right .box p:last-child {
  font-size: 15px;
  color: #fff;
}

/*content*/

#content {}

/* Our Story Section */

#our-story-section {
  text-align: left;
  padding: 0 0 68px;
}

#our-story-section .inb {
  display: inline-block;
  vertical-align: top;
}

#our-story-section p {
  margin: 30px 0;
  max-width: 460px;
  font-size: 15px;
  line-height: 28px
}

.osLeft {
  width: 54%
}

.osLeft h1 {
  margin-top: 50px;
}

.osLeft h3 {
  margin: 10px 0;
}

.osLeft img {
  margin-top: 35px;
  max-width: 627px;
  width: 91%
}

.osRight {
  width: 45%
}

.osRight img {
  max-width: 581px;
  width: 100%
}

/* bowie-kettlebell-club-section */

#bowie-kettlebell-club-section {
  padding: 68px 0 30px;
}

#bowie-kettlebell-club-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 0 0 auto;
}

/*#bowie-kettlebell-club-section .inb{display: inline-block; vertical-align:middle;}*/

.bkcsLeft {
  width: 29%;
  text-align: left;
  box-sizing: border-box;
}

.bkcsLeft p {
  margin: 30px 0;
  line-height: 28px;
  font-size: 15px
}

.bkcsRight {
  text-align: right;
  width: 71%;
  /* margin-right: -300px;*/
  padding: 0 0 0 30px;
  box-sizing: border-box;
}

.bkcsRight img {
  /*max-width: 1104px;*/
  width: 100%;
}

/* kettlebell-training-section */

#kettlebell-training-section {
  padding: 30px 0;
}

#kettlebell-training-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto 0 0;
}

/*#kettlebell-training-section .inb{display: inline-block; vertical-align:middle;}*/

.ktsLeft {
  width: 71%;
  /* margin-left: -300px;*/
  text-align: left;
  padding: 0 30px 0 0;
  box-sizing: border-box;
}

.ktsLeft img {
  /*max-width: 1104px;*/
  width: 100%;
}

.ktsRight {
  text-align: right;
  width: 29%;
}

.ktsRight p {
  margin: 30px 0;
  line-height: 28px;
  font-size: 15px
}

/* protect-yourself-section */

#protect-yourself-section {
  padding: 30px 0;
}

#protect-yourself-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 0 0 auto;
}

/*#protect-yourself-section .inb{display: inline-block; vertical-align:middle;}*/

.pysLeft {
  width: 29%;
  text-align: left;
}

.pysLeft p {
  margin: 30px 0;
  line-height: 28px;
  font-size: 15px
}

.pysRight {
  text-align: right;
  width: 71%;
  /*margin-right: -300px;*/
  padding: 0 0 0 30px;
  box-sizing: border-box;
}

.pysRight img {
  /*max-width: 1104px;*/
  width: 100%;
}

/* our-gallery-section */

#our-gallery-section {
  padding: 50px 0 135px;
}

#our-gallery-section .inb {
  width: 30%;
}

.gallery-images {
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*footer*/

#footer {}

.ftContact {
  position: relative;
  background: url(../images/common/bgContact.jpg)no-repeat center top;
  background-size: cover;
  padding: 65px 0 100px;
}

.ftContact h1 {
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}

.ftContact .map {
  position: absolute;
  top: -55px;
  right: 0;
  width: 55%
}

.ftContact .inb {
  display: inline-block;
  vertical-align: bottom;
}

.ftContact .ctcLeft {
  width: 42%;
  text-align: left;
}

.ctcLeft input[type="text"] {
  max-width: 249px;
  height: 45px;
  margin: 0 0 20px 0
}

.ctcLeft textarea {
  max-width: 520px;
  height: 165px;
  margin: 0 0 20px;
}

.ctcLeft .row-1 .inb {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.ctcLeft .row-2 .ctcbot {
  display: inline-block;
  vertical-align: bottom;
}

.ctcLeft .row-2 .btn {
  background: #fff;
  font-weight: 800;
  color: #000;
  padding: 14px 44px;
  margin-right: 87px;
}

.ftContact .ctcRight {
  width: 57%;
  text-align: left;
  color: #fff;
}

.ctcRight .ckcinb {
  display: inline-block;
  vertical-align: top;
  margin: 30px auto 20px;
}

.ctcRight .ckText {
  max-width: 321px;
  margin: 30px auto 20px;
}

.ctcRight .inb {
  display: inline-block;
  vertical-align: top;
}

.ctcRight .col-1 {
  width: 60%;
}

.ctcRight .col-2 {
  width: 38%;
  /*margin-right: -88px*/
}

.ctcRight .col-2 p {
  font-size: 18px;
  margin: 30px auto;
}

.ctcRight .col-2 p span {
  font-weight: bold;
}

.footBot .socialico {
  font-size: 40px;
  margin: 0 10px;
}

.footBot p {
  margin: 10px auto;
}

#footer .copy,
#footer .silver {
  font-size: 12px;
  font-weight: 800;
  color: #333333;
}

#footer .silver img {
  display: inline-block;
  vertical-align: middle;
  max-width: 50px
}

/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0 80px
}

.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto;
}

.inPrivacyBox p {
  text-align: justify !important;
}

.inner #content p {
  margin: 14px auto;
  line-height: 1.5
}

.inner #content a {
  color: #3090C7;
  text-decoration: underline;
}

.inner #content h2 {
  line-height: 2
}

/*services page*/

.services dl {
  margin: 40px auto;
  border-bottom: 4px solid #3090C7;
  padding: 20px 0;
}

.services dl dt {
  font-size: 25px;
  font-weight: 700;
  text-decoration: underline;
  padding: 15px 0;
}

.services dl dd {
  margin: 0;
}

.services ol {
  text-align: left;
  font-size: 18px;
  margin: 15px auto 0;
}

.services ol li {
  padding: 5px 0;
}

.services .links {
  text-align: left;
  padding: 0 0 0 40px;
  border: none;
}

/*contact page*/

.contact-info {
  padding: 20px 0;
  margin: 20px auto;
  border-top: 2px solid #3090C7;
  border-bottom: 2px solid #3090C7
}

/*reviews page*/

.stars {
  color: #ffd700;
  font-size: 24px;
  margin: 0 auto 10px;
  display: block;
}

.reviews {
  text-align: left;
  border-bottom: 2px solid #3090C7;
  padding: 15px 20px;
}

.reviews:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: all ease 0.8s
}

/*.reviews:last-of-type{border-bottom: none;}*/

.reviews p {
  font-size: 15px;
}

@media only screen and (max-width: 1370px) {
  body {
    min-width: 320px;
  }
  .row,
  .inner #content .row,
  #bowie-kettlebell-club-section .row,
  #kettlebell-training-section .row,
  #protect-yourself-section .row {
    max-width: 95%;
    margin: 0 auto;
  }

  .bkcsLeft,
  .pysLeft {
    width: 28%;
    padding-left: 15px;
  }
  .ktsRight {
    width: 27%;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  #banner .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #banner .container .left img {
    display: block;
    width: 100%;
  }
  #our-story-section {
    padding: 0;
  }
  #our-story-section .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .bkcsLeft {
    width: 50%;
    padding: 20px 0;
    text-align: left;
  }
  .bkcsRight {
    width: 50%;
  }
  .ktsLeft {
    width: 50%;
  }
  .ktsRight {
    width: 50%;
    padding: 20px 0;
    text-align: left;
  }
  .pysLeft {
    width: 50%;
    padding: 20px 0;
    text-align: left;
  }
  .pysRight {
    width: 50%;
  }
  .ftContact .map {
    position: relative;
    width: 100%;
    top: 0;
  }
  .home-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ctcRight .col-1 {
    width: 100%;
  }
  .ftContact .ctcRight,
  .ftContact .ctcLeft {
    width: 45%;
  }
  .ctcRight .ckText,
  .ctcRight .ckcinb {
    margin: 0;
    max-width: 100%;
  }
  .ctcRight .ckText {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width:850px) {
  #header {
    background: none;
  }
  .hdLeft,
  .hdRightTop {
    display: none !important;
  }
  #header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #111;
  }
  #header nav ul {
    max-width: 95%;
    margin: 0 auto;
  }
  #banner {
    margin-top: 0;
    padding: 100px 0;
  }
  #banner .container {
    justify-content: center;
  }
  #banner .container .left {
    width: 40%;
    margin-bottom: 20px;
  }
  #banner .container .right {
    width: 100%;
  }
  #banner .container .right .box {
    max-width: 100%;
    width: 100%;
  }
  #content .gallery li {
    width: 24%;
    margin: 10px .5%;
  }
  .cta {
    background: #111 url("../images/common/phonecall.png") no-repeat center center;
    border-bottom-left-radius: 40px;
    border-top: 2px solid #111;
    border-top-left-radius: 40px;
    bottom: 1%;
    display: block;
    height: 80px;
    position: fixed;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    width: 100px;
    z-index: 999;
  }
}

@media only screen and (max-width:550px) {
  .hdRight {
    text-align: left;
  }
  #header a#pull {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 9999;
    background: #111;
  }
  #header nav ul {
    background-color: #111;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    padding-top: 70px;
    max-width: 100%;
    padding-bottom: 10px;
    z-index: 9998;
  }
  #header nav ul li a {
    padding: 10px 20px;
  }
  #header nav ul li.active-menu {
    background-color: #222;
  }
  #header nav ul li.active-menu a {
    text-decoration: underline;
  }
  #banner {
    padding: 50px 0;
  }
  #banner .container .left {
    width: 60%;
  }
  .hdRightBot nav ul li.active-menu:after,
  .hdRightBot nav ul li:hover:after {
    display: none;
  }
  #banner .container .right .box p:first-child {
    letter-spacing: 3px;
  }
  .osLeft,
  .osRight,
  .bkcsLeft,
  .bkcsRight,
  .ktsLeft,
  .ktsRight,
  .pysLeft,
  .pysRight {
    width: 100%;
    padding: 0;
  }
  .bkcsLeft,
  .ktsRight,
  .pysLeft {
    order: 1;
    padding-bottom: 20px;
  }
  #our-story-section p {
    max-width: 100%;
  }
  .osLeft img {
    max-width: 100%;
    width: 100%;
  }
  .osRight img {
    display: none;
  }
  #our-gallery-section {
    padding: 20px 0;
    text-align: left;
  }
  #our-gallery-section .inb {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .gallery-images {
    margin-bottom: 0;
  }
  .ftContact {
    padding: 30px 0;
  }
  .ftContact .ctcRight,
  .ftContact .ctcLeft {
    width: 100%;
  }
  .ctcLeft .row-1 .col-1,
  .ctcLeft .row-1 .col-2 {
    width: 100%;
  }
  .ctcRight .col-2 {
    width: 100%;
  }
  .ctcLeft input[type="text"] {
    max-width: 100%;
    width: 100%;
  }
  #content .gallery li {
    width: 49%;
  }
}
